body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 3rem;
}


footer {
  background-color: #474747;
  color: #fafafa;
  font-size: 1em;
  padding: 50px 0;
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 1px dotted currentColor;
}



.project-list {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, minmax( 300px, 1fr ) );
  list-style-type: none;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0;
}

@media screen and (max-width: 1300px) {
  .project-list {
    grid-template-columns: repeat(2, minmax( 300px, 1fr ) );
  }
}

@media screen and (max-width: 850px) {
  .project-list {
    grid-template-columns: 5px 2fr 5px;
  }

  .project-list>li {
    gap: 0;
    grid-column: 2;
  }
}

.project {
  box-sizing:border-box;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex:0 0 30%;
  -ms-flex:0 0 30%;
  flex:0 0 30%;
  margin:1em 0;
  max-width:100%;
}

@media screen and ( max-width: 900px ) {
  .project {
    -webkit-flex:0 0 50%;
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    margin:0.5em 0;
    max-width:100%;
  }
}
.project h2 {
  font-weight:300;
  margin:0;
}
@media screen and (max-width: 700px ) {
  .project#mobile-hide {
    display:none;
  }
}

.death-icon-with-timeline {
  -webkit-flex-basis:100px;
  -ms-flex-preferred-size:100px;
  flex-basis:100px;
  -webkit-flex-shrink:0;
  -ms-flex-negative:0;
  flex-shrink:0;
  text-align:center;
}

.death-icon {
  height: 50px;
  width: 50px;
}

.project-life {
  text-align: center;
  font-size:0.75em;
}

.project-title-with-desc {
  padding-bottom:1.25em;
}

.project-title-with-desc>h2 {
  font-weight: 300;
  margin: 0;
}

.project-description {
  font-size: 0.9em;
  line-height: 1.5;
  margin: 8px 0 0 0;
  padding-right: 2em;
}


.header-title-image-div {
  -webkit-align-items:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}

.title-image-div {
  display:block;
  margin-right:1rem;
  width:60px;
}

.header-site-title {
  font-size:2.75rem;
  font-weight:lighter;
  margin:0;
}


.footer {
    margin:0 auto;
    max-width:90%;
    text-align:center;
    width:38em; 
}

.footer>p {
  line-height:1.75;
}





