
{{ $githubIcon := resources.Get .Site.Params.githubIcon }}
{{ $companyName := .Site.Params.companyName }}
{{ $header := .Site.Params.header }}

<div class="footer">
    <p> {{ $header }} is the {{ $companyName }} graveyard; list of discontinued {{ $companyName}} services, products, devices, and apps. </p>
    <p> This is there to remember the dead {{ $companyName }} products & for new joinee to see what endavour already take place & if they find anything intresting in them</p>
    
    
    <p> {{ with replace .Site.Params.Copyright "{currentYear}" now.Year }}{{ . | markdownify}} &middot; {{ end }} </p>
    <div> 
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/curefit" class="footer-icons">
            {{ with $githubIcon }}
            <img width="24px" height="24px" src="{{ .RelPermalink }}" alt="GitHub" class="css-rrel8y"/>
            {{ end }}
        </a>
    </div>
</div>


